:root {
    --first-color: #f7c970;
    --second-color: #c763ac;
  }
  ​
  header {
    background: var(--first-color);
    padding: 5px 0;
    overflow: hidden;
    display: flex;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  header .app-title {
    color: var(--second-color);
    font-size: 1.75rem;
    font-weight: 500;
    float: left;
  }
  header nav {
    float: right;
    margin-top: 10px;
    justify-content: flex-end;
    justify-content: space-between;
  }
  header nav ul li {
    display: inline-block;
    margin: 0 0 0 40px;
  }
  header nav ul li a {
    font-size: 1rem;
    color: var(--fourth-color);
  }